#name-search-input, #name-search-button {
	width: 100%;
	margin: 0 auto;
  margin-bottom: 20px;
	text-align: center;
}

.weatherElement {
	font-weight: bold;
}

h1 {
	text-align: center;
	color: rgba(127,127,127,.6);
	font-family: Impact;
	font-size: 80px;
}

h2 {
	font-family: Impact;
	text-align: center;
}

#weatherArea {
	display: none;
	margin: 0 auto;
	width: 200px;
	background-color: rgba(127,127,127,.6);
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}
